{% extends 'template_base.html' %}

{% block title %}
    Eliminar Prenda
{% endblock %}

{% block body %}
    <h1>Eliminar Prenda</h1>
    <form action="" method="post">
        <label for="prenda_id">Selecciona la prenda a eliminar:</label>
        <select name="prenda_id" id="prenda_id">
            {% for prenda in prendas %}
                <option value="{{ prenda.id }}">{{ prenda.tipo }} - {{ prenda.marca }}</option>
            {% endfor %}
        </select>
        <button type="submit">Eliminar</button>
    </form>
{% endblock %}
